.banner {
  width: 350px !important;
  height: 225px !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  margin: 20px auto !important;
  border-radius: 15px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}
